html, body {
  width: 100%;
}

.button {
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  border: 1px solid black;
  width: 85%;
}

.hidden {
  display: none;
}

input {
  width: 85%;
}

.row {
  padding: 5px;
}